body{
    background-image: url("bg.jpg");
    background-size: cover;
}

.col{
    background-color: aqua;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.colMain{
    flex: 2;
}

.container{
    display: flex;
    flex-direction: row;
}

.antares{
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.borboleta{
    float: left;
    max-width: 20%;
    max-height: 20%;
    margin: 20px 0px 0px 0px;
    position: relative;
}
.rowAntares{
    margin-bottom: -52px;
}
.row h1{
    font-family: 'Finger Paint', cursive;
    font-size: 9rem;    
    text-align: center;
}